*{	
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-align: center;
}

body{
	font-family: 'Inter', sans-serif;
	background: #fbf8f8;
	margin: 50px;
	overflow: hidden;
}

h1{
	font-size: 2rem;
}

p{
	font-size: 0.8rem;
}

.lsplit {
    background-color: #e4ebf5;
    width: 250px;
    margin-left: 650px;
	transform: rotate(-90deg);
    height: 40px;
    margin-top: 150px;
}

.vprogress {
    display: flex;
    background-color: #63A3F2;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s;
}

.split {
	margin-top: -90px;
    margin-right: 500px;
}

.split .inputvalue {
    padding: 15px;
    text-align: left;
    margin-bottom: 50px;
    background-color: #d9d9d9;
    border: none;
	border-radius: 2px;
    margin-left: 2cm;
    width: 250px;
}

.split .maxvalue {
    padding: 15px;
    text-align: left;
    background-color: #d9d9d9;
	border-radius: 2px;
    margin-left: 2cm;
    width: 250px;
    border: none;
}

.progress{
	padding-top: 50px ;
}

.vname {
    flex-direction: column;
    font-weight: small;
    margin-left: 700px;
	text-align: center;
    color: #000000;
    width: 20%;
}

